.formLabel {
    width: 100px;
    font-family: sans-serif;
    height: 30px;
    margin: 5px;
}

.formTextInput {
    width: 230px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
}

.divRow {}

.formCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    width: 60%;
}

.formSubmit {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: #90baee;
    font-weight: bold;
    font-family: sans-serif;
    font-size: medium;
    color: black;
    margin-top: 20px;
}

.formSelect {
    width: 235px;
    margin: 5px;
    height: 30px;
    border-radius: 5px;
}

.formCancel {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: #ee9090;
    font-weight: bold;
    font-family: sans-serif;
    font-size: medium;
    color: black;
    margin-top: 20px;
}

body {
    background-color: rgb(222, 225, 241);
}

#divBusca {
    background-color: #E0EEEE;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    width: 400px;
    height: 32px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 295px;
}

#btnBusca {
    border: none;
    float: left;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: rgb(255, 255, 255);
}

#divBusca img {
    float: left;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}
#logofreemarket img {
    width: 200px;
    height: 150px;
}


#produtos{
    float: left;
    left: 50%;
    border-radius: 8px;
    width: 70%;
}
.produto{
    width: 31%;
    height: 450px;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
}
